<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BobTheGrader", "Index", "Teachers", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Teachers")</li>
                <li>@Html.ActionLink("Assignments", "Assignments", "Teachers")</li>
                <li>@Html.ActionLink("Courses", "Courses", "Teachers")</li>
                <li>@Html.ActionLink("Users", "ViewUsers", "Teachers")</li>
                <li>@Html.ActionLink("Help", "Help", "Teachers")</li>
            </ul>
            @Html.Partial("_LogoffPartial")
        </div>
    </div>
</div>



